<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Month Tabs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'optical_main/static/css/home_style.css' %}">
</head>
<body>
    <div class="tabs-container">
        <h1>Select a Month</h1>
        <div class="tabs">
            <a href="{% url 'months' 'january' %}" class="tab">January</a>
            <a href="{% url 'months' 'february' %}" class="tab">February</a>
            <a href="{% url 'months' 'march' %}" class="tab">March</a>
            <a href="{% url 'months' 'april' %}" class="tab">April</a>
            <a href="{% url 'months' 'may' %}" class="tab">May</a>
            <a href="{% url 'months' 'june' %}" class="tab">June</a>
            <a href="{% url 'months' 'july' %}" class="tab">July</a>
            <a href="{% url 'months' 'august' %}" class="tab">August</a>
            <a href="{% url 'months' 'september' %}" class="tab">September</a>
            <a href="{% url 'months' 'october' %}" class="tab">October</a>
            <a href="{% url 'months' 'november' %}" class="tab">November</a>
            <a href="{% url 'months' 'december' %}" class="tab">December</a>
        </div>
    </div>
</body>
</html>
